<p style="color: green"><%= notice %></p>

<div id="purchases" class="body-height custom-light-gray-bg">
  <div class="flex justify-between bg-white mb-4 p-2 shadow-md">
    <%= link_to categories_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    <%end%>
    <p class="font-black"><%=number_to_currency(@purchases_sum)%></p>
  </div>
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
  <% end %>
  <%= link_to "New purchase", new_category_purchase_path, class: "font-bold fixed bottom-0 w-full text-center py-2 bg-green m-0 text-green-900" %>
</div>

