<%= link_to category_purchases_path(category_id: category) do %> 
  <div id="<%= dom_id category %>" class="flex justify-between items-center bg-white p-1 m-2 border">
    <div class="content flex justify-center items-center rounded">
      <img src=<%=category.icon%> alt=<%=category.name%> class="w-14 h-14">
      <h2 class="text-zinc-500 w-fit ml-3 font-bold"><%= category.name %></h2>
    </div>

    <p class="w-fit font-bold" >
      <%=number_to_currency(category.purchases.sum(:amount))%>
    </p>

  </div>
<% end %>
